frontend/.vscode
frontend/dist
frontend/node_modules
frontend/public
frontend/src/test.txt
frontend/jsconfig.json
frontend/package.json
frontend/package-lock.json
frontend/webpack.config.js
frontend/webpack.dev.config.js
frontend/vite.config.js
.DS_STORE
backend/node